.content li{list-style-type: none;margin-right: 25px;}
ul li p{display: none;}

.quest{
	border: solid #ddd 2px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: #eee;
}

.answer{
    font-size: 20px;
    margin-left: 25px;
}