.repos-content{
	column-count: 5;
	margin: 5px auto 0;
}

.repository{
    font-family: sans-serif;
	display: inline-block;
    margin: 10px auto;
    padding: 26px;
	border: solid 1px;
	width: 80%;
}
.repository:hover{
    box-shadow: #999 2px 8px 10px;
    transition: box-shadow 0.4s ease-in-out;
}

.repository.C:before{
	content: 'C';
    border: solid 3px;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 14px;
    border-radius: 50px;
   	font-weight: bold;
   	color: #555555;
}
.repository.JavaScript:before{
	content: 'JS';
    border: solid 3px;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 50px;
    font-weight: bold;
   	color: #f1e05a;
}
.repository.PHP:before{
	content: 'PHP';
    border: solid 3px;
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 8px;
    border-radius: 50px;
    font-weight: bold;
    color: #4f5d95;
}

.repository.Java:before{
	content: 'Java';
    border: solid 3px;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 50px;
    font-weight: bold;
    color: #b07219;
}

.null, .Assembly, .Shell, .HTML{
	display: none; 
}

.repository p.title{
	font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.repository p.description{
	text-align: center;
    color: #555
}
@media screen and (max-width: 1350px){
    .repos-content{
        column-count: 5;
    }
}
@media screen and (max-width: 1300px){
    .repos-content{
        column-count: 4;
    }
}
@media screen and (max-width: 1050px){
    .repos-content{
        column-count: 2;
    }
}
@media screen and (max-width: 800px){
    .repos-content{
        column-count: 1;
    }
    .repository{
        display: block;
    }
}